.title {
  text-align: center;
}
.container {
  margin-top:5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.submitbutton{
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-radius: 10px;
}
.link{
  width: 500px;
}
